/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
    body {
   
    }
    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }
    
    
    
/* -------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
:root {
	--bluegrey: #eae9f7;
	--black: #08080a;
	/*--lightblue: #d8d6ff;
	--brightblue: #3c2ff9;*/
	--lightblue: #3ab4cb;
	
	--brightblue: #116dee;
	--green: #16af61;
	
	--red: #e3170a;
	--blackgrey: #222;
	--darkgrey: #666;
	--midgrey: #999;
	--lightgrey: #d8d8d8;
	/*--whitegrey: #e6e6e6;*/
	--whitegrey: #f0e7ec;
	--offwhite: #f8f8f8;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'IBM Plex Sans','Helvetica Neue','Arial',sans-serif;
	font-weight: 500;
	background-color: white;
	color: var(--black);
	height: 99vh;
	margin-right: 0;
	box-sizing: border-box;
}

.wrap {
	margin-left: 5vw;	
}

.banner {
	margin-left: -5vw;
	background-color: var(--whitegrey);
	padding: 3rem 0 0 5vw;
	margin-bottom: 0;
	border-bottom: 6px solid var(--green);
}

main {
	padding-top: 3.5rem;
}

section {
	margin-bottom: 28px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	line-height: 1.55;
}

h1, h2 {
	font-family: 'Rubik','Helvetica Neue','Arial',sans-serif;
	font-weight: 700;
}


h1 {
	font-size: 3.5rem;
	margin: 0;
}

h2 {
	font-size: 2rem;
	margin: 0.78rem 0;
	border-bottom: 4px solid var(--green);
	padding-bottom: 2px;
}

a {
	color: var(--brightblue) !important;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.param label {
	/*font-family: 'IBM Plex Mono';*/
	font-weight: 700;
}

input {
	font-weight: 500;	
}

.login-entry {
	display: flex;
	flex-flow: column wrap;
	width: 280px;
}

.login-message {
	color: var(--red);
}

.search-section {
	max-width: 50vw;
}

.search-textbooks {
	display: flex;
	flex-flow: column wrap;	

}

.search-btn-wrap {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}

.edit-textbooks {
	display: flex;
	flex-flow: column wrap;

}

.textbook-entry-inner-wrap {
	display: flex;
	flex-flow: row nowrap;
}

.success-message {
	/*font-family: 'IBM Plex Mono';*/
	font-weight: 700;
	margin-top: 0.26rem;
	display: none; /* Default to hidden. Display on successful addition to database. */
}

.textbook-entry {
	margin-right: 5vw;
	max-width: 50vw;
}

.new-textbooks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 5vw;
}

.param {
	display: flex;
	flex-direction: column;
}

.new-textbooks, select {
	max-width: 200px;
}

select, option {
	font-weight: 500;
}

#submit-new {
	max-width: 100px;
}

label, select {
	line-height: 1.55;
	margin: 0.26rem 0px 0px 0px;
}

.param input{
	background-color: var(--whitegrey);
	border: 0;
	padding: 5px 10px 3px 10px;
	border-radius: 20px;
	outline-color: transparent;
}

input[type=submit] {
	font-weight: 500;
	float: right;
	margin-left: auto;
	margin-right: 0px;
	margin-top: 16px;
	background-color: var(--brightblue);
	color: white;
	border: 0;
	border-radius: 20px;
	padding: 5px 10px 3px 10px;
	cursor: pointer;
	transition: opacity 0.15s;
}

.check-container {
	position: relative;
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	cursor: pointer;
	box-sizing: border-box;
}

#strict-search {
	width: 0;
	height: 0;
	opacity: 0;
	box-sizing: border-box;
}

input:checked + .checkmark {
	opacity: 1;
	background-color: var(--lightgrey);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

input:checked + .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--blackgrey);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--whitegrey);
	border: 1px solid var(--blackgrey);
}

#logout {
	font-weight: 500;
	float: right;
	margin-right: 20px;
	background-color: var(--darkgrey);
	color: var(--offwhite);
	border: 0;
	border-radius: 0 0 10px 10px;
	padding: 4px 8px 6px 8px;
	margin-top: 6px;
	cursor: pointer;
	transition: 0.3s;
}

#logout:hover {
	background-color: var(--midgrey);
}

input[type=submit]:hover {
	opacity: 0.82;
}

.recent-textbook {
	background-color: var(--whitegrey);
}

.recent-textbook .edit-form, .recent-textbook-header {
	box-sizing: border-box;
	padding: 8px 6px;	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.recent-textbook .edit-form input:disabled {
	background-color: inherit !important;
	color: inherit !important;
	border: 1px solid transparent;
}

.recent-textbook .edit-form input {
	/*border: none;*/
	border: 1px solid var(--midgrey);
	box-sizing: border-box;
}

.edit-form .textbook-func {
	margin-right: 0;
}

.textbook-display h2 {
	margin-left: 6px;
}

.recent-textbook-header {
	/*text-transform: uppercase;*/
	font-weight: 700;
}

.recent-textbooks {
	box-sizing: border-box;
	font-family: 'IBM Plex Mono',monospace;
	font-size: 1rem;
}

.recent-textbooks {
	font-weight: 500;
}

.textbook-course {
	width: 6%;
	min-width: 58px;
}

.textbook-semester {
	width: 7.5%;
	min-width: 76px;
}


.textbook-lead {
	width: 4.5%;
	min-width: 40px;
}


.textbook-title {
	width: 36%;
}

.textbook-author {
	width: 18%;
}

.textbook-isbn {
	width: 14%;
	min-width: 132px;
}

.textbook-func {
	width: 13%;
	min-width: 100px;
}

.recent-textbook *, .recent-textbook-header * {
	overflow: hidden;
	white-space: nowrap;
	margin-right: 4px;
}

.textbook-display {
	display: none; /* Default to hidden. Only display after first search. */
	width: 90vw;
	margin-left: -6px;
}

@media screen and (max-width: 620px) {
	.recent-textbooks, .recent-textbook-header {
	/*width: 90vw;*/
	}
	
	.textbook-lead, .textbook-author, .textbook-isbn  {
		display: none;
	}
	
	.textbook-course {
		width: 14%;
	}
	
	.textbook-title {
		width: 43%;
	}

	.textbook-semester {
		width: 18%;
	}

	.textbook-func {
		width: 25%;
	}
}

@media screen and (max-width: 380px) {
	.textbook-semester {
		display: none;
	}
}

.recent-textbooks li:nth-child(even) {
	background-color: var(--offwhite);
}

.recent-textbooks li:first-child {
	border-radius: 10px 10px 0 0;
}

.recent-textbooks li:last-child {
	border-radius: 0 0 10px 10px;
}

.textbook-func {
	text-align: right;
}

.delete-textbook, .edit-textbook, .undo-edit, .save-edit {
	margin: 0;
	padding: 0 3px;
	display: inline-block;
	/*display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
	background-color: var(--red);
	width: 20px;
	border-radius: 10px;*/
	background-color: transparent;
	color: var(--blackgrey);
	font-weight: 700;
	border: 0;
	outline-color: transparent;
	transition: color 0.15s;
	cursor: pointer;
}

/* Undo and save default to hidden. */
.hidden-btn {
	display: none;
}

.edit-textbook:hover {
	opacity: 0.7;
}

.delete-textbook:hover {
	/*opacity: 1;*/
	color: var(--red);
}

footer {
	margin-left: 5vw;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:700;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}